body {
  font-family: "Poppins", sans-serif;
}

section {
  padding-top: 6rem;
}

.jumbotron {
  min-height: 100vh;
  padding-top: 6em;
  background-color: var(--bs-body-bg);
}

.about {
}

footer {
  padding-top: 1rem;
}
